<form [formGroup]="form" action="">
    <mat-form-field>
        <input matInput type="text" formControlName="id">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" formControlName="title">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" formControlName="price">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" formControlName="id">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="" formControlName="description">
    </mat-form-field>
</form>
