:host{
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
}

img{
    max-width: 100%;
}
/*li{
    list-style: none;
}

.products{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
img{
    width: 200px;
    height: 120px;
}*/